.wrap {
    width: 1200px; margin: auto;
}


.upper_head {
    width: 100%; float: left;
}
.upper_head h2 {
    text-align: center;
    background-color: brown;
    color: white;
    font-family: Candara;
}

.para {
    width: 100%; float: left;
}
.para p {
    font-size: 2vw;  text-align: center;
    margin: 0 0 1vw 0;
    font-family: Candara;
}

.main_container {
    width: 100%; float: left; background-color: lightseagreen;
    height: 40vw;
}

.main_container h1 {
    text-align: center; color: white;
    font-family: Candara;
    font-size: 4vw;
    margin: 0 0 2vw 0;
}
.main_container input {
    margin: 0 0 0 27vw;
    width: 500px;
    height: 100px;
    font-size: 3vw;
    border-style: none;
    border: 5px solid black;
}

.button {
    margin: 2vw 0 0 38vw;
    
}

.button #btn {
    border: 1px solid black; border-radius: 3vw;
    padding: 8px 5vw;
    background-color: yellow;
    cursor: pointer;
}

.guesses {
    color: black;
}

.result p {
    font-size: 20px;
    color: white;
    margin: 1vw 0 0 40vw;
}

.result h2 {
    background-color: brown;
}

#newGame {
    background-color: brown;
    
}


